{% extends 'base.html.twig' %}

{% block title %}Editer les Marques{% endblock %}

{% block body %}
    <h1>Editer les Marques</h1>

    {{ include('brand/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_brand_index') }}">back to list</a>

    {{ include('brand/_delete_form.html.twig') }}
{% endblock %}