{% extends 'base.html.twig' %}

{# Nos produits - SuperCatalog 2000 #}
{% block title %}Nos produits - {{ parent() }}{% endblock %}

{% block body %}
<h1>Produits</h1>

<a href="{{ url('app_product_create') }}">Ajouter un produit</a>

{% endblock %}
