{% extends 'base.html.twig' %}
{% set title = "Modifier le produit " ~ product.title %}


{% block title %}{{ title }} - {{ parent() }}{% endblock %}


{% block body %}
<h1>{{ title }}</h1>
{% include "product/_form.html.twig" with {btn_label: "Modifier le produit"} %}
{% endblock %}